In [2]:
from Analysis import *
import Analysis
from tssb.utils import load_time_series_segmentation_datasets
from tssb.evaluation import covering

In [3]:

datasets = ["ArrowHead", "InlineSkate", "Plane"]
results = []
# comparison = pd.DataFrame(index=datasets)
tssb = load_time_series_segmentation_datasets(names=datasets)
for _, (ts_name, window_size, cps, ts) in tssb.iterrows():
    start_time = time.time()
    found_cps = AltBinaryClaSPSegmentation().fit_predict(ts)
    end_time = time.time()
    score = covering({0: cps}, found_cps, ts.shape[0])
    results.append({
        'Algo': 'Modified',
        'Time Series': ts_name,
        # 'True Change Points': cps,
        # 'Found Change Points': found_cps.tolist(),
        'Score': score,
        'Run Time': (end_time - start_time)
    })

for _, (ts_name, window_size, cps, ts) in tssb.iterrows():
    start_time = time.time()
    found_cps = BinaryClaSPSegmentation().fit_predict(ts)
    end_time = time.time()
    score = covering({0: cps}, found_cps, ts.shape[0])
    results.append({
        'Algo': 'ClaSP',
        'Time Series': ts_name,
        # 'True Change Points': cps,
        # 'Found Change Points': found_cps.tolist(),
        'Score': score,
        'Run Time': (end_time - start_time)
    })

results_df = pd.DataFrame(results)
print(results_df.pivot(index='Algo', columns='Time Series'))

            True Change Points                \
Time Series          ArrowHead   InlineSkate
Algo
ClaSP                    [753]  [1058, 2704]
Modified                 [753]  [1058, 2704]

                                                 Found Change Points  \
Time Series                                Plane           ArrowHead
Algo
ClaSP        [540, 1044, 1368, 1944, 2412, 3060]               [742]
Modified     [540, 1044, 1368, 1944, 2412, 3060]               [742]

                                                                       Score  \
Time Series InlineSkate                                      Plane ArrowHead
Algo
ClaSP        [490, 944]  [532, 1047, 1166, 1374, 1942, 2411, 3067]  0.985497
Modified          [930]  [532, 1042, 1166, 1372, 1942, 2411, 3067]  0.985497

                                    Run Time
Time Series InlineSkate     Plane  ArrowHead InlineSkate      Plane
Algo
ClaSP          0.486369  0.954940   0.060942    0.580099   0.454672
Modified       0.576252  0.956033  32.639837   16.361953  15.606370

In [10]:
results_df.drop(['True Change Points', 'Found Change Points'], axis='columns').pivot(index='Algo', columns='Time Series')
# results_df

                Score                         Run Time
Time Series ArrowHead InlineSkate     Plane  ArrowHead InlineSkate      Plane
Algo
ClaSP        0.985497    0.486369  0.954940   0.060942    0.580099   0.454672
Modified     0.985497    0.576252  0.956033  32.639837   16.361953  15.606370